*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: orange;
}

h1{
    
    color: white;
    font-weight: bold;
    font-size: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}